

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.textHolder {
  max-width: 400px;
  height: 400px;
  flex-direction: column;
  background: rgba(255,255,255,0.5);
}

.h-60 {
  height: 70vh;
}

.courseCard {
  border-width: 1px;
  border-style: solid;
}

.slick-prev:before, .slick-next:before {
  font-size: 32px;
  color:#7e22ce;
  width: 32px;
  height: 32px;
}

.slick-next {
  right: -35px;
}

.slick-prev {
  left: -35px;
}

.testimonialBlock button::after,
.testimonialBlock button::before {
  color: white;
}

.toastBody {
  font-size: 0.8rem;
  font-weight: bold;
}



.alternate {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  /* height: 80px; */
  max-width: 400px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
  z-index: 2;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 450px;
    height: 450px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 450px;
    height: 450px;
  }
}
.alternate {
  position: relative;
  color: #2dc559;
}
.alternate:before, .alternate:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #08bb3c;
  border-radius: 50%;
  z-index: -1;
}
.alternate:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.alternate:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.alternate:hover {
  color: #c1eece;
}
.alternate:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.alternate:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}