@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
font-family : 'Roboto', sans-serif;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html.dark {
  @apply bg-gray-900;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.min-h-full {
  min-height: calc(100vh - 135px);
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-w-xxl {
  max-width: 768px;
}
.max-w-2xl {
  max-width: 768px;
}



.inputWrap label {
  display:block;
  margin-bottom:5px;
  }
  
  
  [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: 0;
      opacity: 0.01;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 2em;
      font-size: 1em;
      line-height: 1.6;
      cursor: pointer;
    }
  
    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.3em;
      height: 1.3em;
      border: 1px solid #ddd;
      background: #FFF;
      border-radius: .2em;
      box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
      -webkit-transition: all .275s;
          transition: all .275s;
    }
  
  
  [type="checkbox"]:checked + label:before {
  border-color:#CB22ED;
  }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: "\f00c";
      font-family: 'FontAwesome';
      background: rebeccapurple;
      color: #fff;
      position: absolute;
          top: 11px;
      left: 4px;
      font-size: 1em;
      color: #CB22ED;
      line-height: 0;
      -webkit-transition: all .2s;
          transition: all .2s;
  
    }
  
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
  border-color:#CB22ED;
    }
  
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  
    }
  
    /* Disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #e9e9e9;
    }
  
    [type="checkbox"]:disabled:checked + label:after {
      color: #777;
    }
  
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
  
    /* Accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
      box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
    }
    .radioWrap {
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      text-align: left;
    }
    
.radioWrap input {
  display: none;
}
.radioWrap input + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}
.radioWrap input + label:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: #fff;
}
.radioWrap input + label:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: rgba(76,29,149,1);
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.radioWrap input:checked + label:after {
  opacity: 1;
  transform: scale(1, 1);
}


.errorHeader {
  font-size: 10vw;
  line-height: 1em;
  background: -webkit-repeating-linear-gradient(-60deg,#71b7e6,#ff0000, #42d11e,#ec9a01);
  background-size: 500%;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  position: relative;
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate{
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0 ;
  }
}