@media (max-width: 768px) {
	.courseHolder .slick-prev,
    .courseHolder .slick-next {
        top: 0;
    }

    .courseHolder .slick-prev {
        left: calc(50% - 40px);
    }
    .courseHolder .slick-next {
        right: calc(50% - 40px);
    }

    .slick-prev:before, .slick-next:before {
        font-size: 40px;
    }
}