.passed {

    background-color: rgb(71, 177, 0);
    color: #fff;
}

.failed {
  background: #fff;
  border-radius: 0 20px 0 20px;
  padding: 30px;
}

.quizWrap {
    min-height: calc(100vh - 350px);
    position: relative;
    z-index: 2;
}

.quizWrap:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;     
    background: -webkit-repeating-linear-gradient(-60deg,#71b7e6,#ff0000, #42d11e,#ec9a01);
    background-size: 500%;
    animation: animate 10s ease-in-out infinite;
}

.questionCard {
  position: relative;
}

@keyframes animate{
    0% {
      background-position: 0 0;
    }
  
    25% {
      background-position: 100% 0;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0 0 ;
    }
  }
  .checkWrap input + label {
    transition:  all 0.5s ease-in-out;
  }

  .checkWrap input:checked.active + label {
    background: #2dc559;
    color:#fff;
  }

  .totalQuestion {
    position: absolute;
    top: -2px;
    right: -6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #0c5cbf;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    font-weight: 700;
    font-size: 12px;
  }

  .percentage {
    position: absolute;
    top: 44%;
    left: 32%;
    font-size: 56px;
  }