.topBar {
    display: flex;
    flex-wrap:wrap;
}

.topBar .radioWrap {
    margin: 0;
    display: block;
    width: 33.33%;
}

.topBar .radioWrap input[type=radio] + label {
    position: relative;
    z-index: 2;
    display: block;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    padding:5px 10px;
    background: #fff;
    transition:all 0.5s ease;
    cursor: pointer;
}


.topBar .radioWrap input[type=radio] + label:before {
    width: 100%;
    border-radius: 0;
    top:0;
    bottom:0;
    box-shadow: none;
    position: absolute;
    background: none;
    transition:all 0.5s ease;
    z-index: -1;
    height: 100%;
}
.topBar .radioWrap input[type=radio] + label:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height:100%;
    left: 50%;
    right: 50%;
    border-radius: 0;
    /* bottom: 0; */
    background: #8d34ff;
    /* right: 0; */
    z-index: -1;
    transition:all 0.3s ease-in-out;
    /* transform:translateX( -50%); */
    transform: none;
}
.topBar .radioWrap input[type=radio]:checked +label {
    color: #fff;
    /* background: #6d953e; */
    transition:all 0.3s ease;
}

.topBar .radioWrap input[type=radio]:checked + label:after{
    /* width: 100%; */
    right: 0;
    /* transform:translateX( 0); */
    transition:all 0.3s linear;
    left: 0;
    /* height: 100%; */
}